{% extends 'portal/base.html' %}    
{% block content %} 
<br/> 
        <div class="agile_stocks_mutual_funds">
				<div class="agile_stocks_mutual_fund_grid">
					<div class="agile_stocks_mutual_fund_grid_l">
						<h3>Introduction</h3>
					</div>
					
					<div class="clearfix"> </div>
				</div>
				
		</div>
		<hr>
			<p>Over the last 20 years, researchers at the International Livestock Research Institute (ILRI) have collected and generated an extensive range of spatial data layers. A number of these layers are directly related to livestock, such as distribution, health and production. Other layers, however, cover more general topics such as human population density, climate and infrastructure. Some of the datasets cover only specific project, while others are county-wide, regional, continental or even global. </p>

			<p>This collection of data can be of great value for students, researchers, farmers, policy makers or anybody else interested in spatial analysis. There is therefore a need to share it with both our collaborators and the general public. For that reason we started cataloguing data available at the institute in an easy to access format and availing it over the internet/intranet. This effort has so far resulted in some of the layers being directly downloadable from this website. Efforts to organize, standardize, clean and document all available data and the exciting world of interactive online mapping is currently underway.</p>

			<p>The ILRI GIS Group envisions a fast-growing network of partners sharing not only data, but also outputs of analysis and knowledge. It therefore facilitates the sharing of information among technical partners, brings together an array of spatially linked databases, and helps strengthen the capacity of regional and national partners in spatial data analysis.</p>
			<p>Over the last 20 years, researchers at the International Livestock Research Institute (ILRI) have collected and generated an extensive range of spatial data layers. A number of these layers are directly related to livestock, such as distribution, health and production. Other layers, however, cover more general topics such as human population density, climate and infrastructure. Some of the datasets cover only specific project, while others are county-wide, regional, continental or even global. </p>

		<hr>
		
    
{% endblock %}